h1 {
  font-size: 50px;
  color: hsl(48, 82%, 51%);
  font-family: 'Montserrat';
}

body {
  font-family: sans-serif;
  font-weight: lighter;
}

h3, .personal-info, h4 {
  color: hsl(220, 100%, 65%);
  font-size: 20px;
}

p {
  padding-left: 2em;
  font-size: 16px;
}

.container-fluid {
  padding-top: 2em;
}

.personal-info {
  border-right: 10px hsl(48, 82%, 51%) solid;
  width: 70%;
  padding-top: 8%;
}

.other-info {
  text-align: left;
  padding-left: 5%;
}

.date {
  margin-top: 5px;
  font-style: italic;
}



@media (max-width: 992px) {
  .col-sm-9 {
    padding-top: 10%;
  }
  h3, .personal-info, h4 {
    color: hsl(139, 65%, 48%);
  }
  h1 {
    color: hsl(333, 88%, 77%);
  }
  .personal-info {
    border-right: 10px hsl(333, 88%, 77%) solid;
  }

}
